body {
  font-family: 'Comic Sans MS';
  margin: 0;
}

#something {
  border: 5px solid #000;
  margin: 1em auto;
  padding: 10em;
  background: blueViolet;
  border-radius: 1000px;
  width: 450px;
}

#jonald {
  padding: 15px;
  background: red;
}

/*
NESTED STYLE
this is the syntax for setting the styles of
all img tags within the #jonald id tag.
*/
#jonald img {
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background: lightgray;
}